.calculator {
  display: grid;
  margin-top: 5rem;
  width: 50rem;
  height: 65rem;
  font-family: "Arial";
  font-weight: bold;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px 70px repeat(4, 1fr) 75px;
  padding: 2rem;
  padding-top: 4rem;
  @include themify($themes) {
    background-color: themed("background-color");
  }

  grid-gap: 20px;

  &__header {
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    grid-column: 1/3;
  }
  &__theme-selector {
    display: flex;
    flex-wrap: wrap;
    @include themify($themes) {
      border: 3px solid themed("theme-border-color");
      color: themed("theme-text-color");
    }

    position: relative;
    h1 {
      text-align: center;
      display: inline-block;
      position: absolute;
      top: 0%;
      transform: translateY(-60%);
      @include themify($themes) {
        background-color: themed("background-color");
      }
    }
    align-items: center;
    justify-content: center;
    grid-column: 3/5;
    input {
      margin-top: 2px;
      &:not(:nth-child(2)) {
        margin-left: 10px;
      }
    }
  }

  &__input {
    grid-column: 1 / 5;
    background-color: white;
    display: flex;
    font-size: 20px;
    position: relative;
    justify-content: space-between;
    padding: 5px;
    span {
      transform: translateY(calc(50% - 1rem));
    }
    &__ans {
      color: grey;
      position: absolute;
      width: 90%;
      text-align: end;
    }
  }

  &__btn {
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2rem;
    &:hover {
      cursor: pointer;
    }
    &--digit {
      @include themify($themes) {
        background-color: themed("digit-background-color");
        color: themed("digit-text-color");
      }
    }
    &--action {
      @include themify($themes) {
        background-color: themed("action-background-color");
        color: themed("action-text-color");
      }
      grid-column: 1 / 3;
      border-radius: 0% !important;
      &:last-child {
        grid-column: 3 / 5;
      }
    }
    &--operation {
      @include themify($themes) {
        background-color: themed("operation-background-color");
        color: themed("operation-text-color");
      }
    }
  }
}
